.postlogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #252727; */
    background: url('/public/loginbg.jpg');
    background-size: cover;

  }   
  .roleSpecific{
    display: flex;
    flex-direction: column;

  }